<!DOCTYPE html>
<html lang="{{ general_settings.seo.locale }}">
    {% include 'head' %}

    <body class="font-primary bg-black">

        {% bookshop 'nav' %}

        {{ content }}

        <script src="/assets/js/main.js" type="module"></script>
    </body>
</html>
