<!DOCTYPE html>
<html lang="{{ general_settings.seo.locale }}">
    {% include 'head' %}

    <body class="font-primary bg-black">

        {{ content }}

        <script src="/main.js" type="module"></script>
    </body>
</html>
