---
banner_items:
- key: PAGINA WEERGAVEN
  value: +12%
- key: KLANT TEVREDENHEID
  value: +12%
- key: CONVERSIE
  value: +18%
---

<section class="min-h-[80vh] flex flex-col bg-black/60">
    <div class="container relative flex flex-col items-end my-auto">
        <h1 class="leading-[.85] text-right text-display font-secondary">
            <span class="text-white">ONLINE RESULTAAT</span><br/>
            <span class="text-border text-border-white text-black">RESULTAAT</span>
        </h1>
        <div class="gap-x-11 flex mr-[18%]"></div>
    </div>
</section>
<section class="relative">
    <div class="h-80 bg-yellow relative w-full"></div>
    <div class="-left-72 -top-48 absolute z-auto flex items-center justify-center">
        <div class="absolute h-[125%] w-[125%] border border-white-900 rounded-full -z-50"></div>
        <div class="absolute h-[152%] w-[152%] border border-white-900 rounded-full -z-50"></div>
    </div>
    <!-- <div class="sticky top-0 w-full h-20 bg-black"></div> -->
    <div class="container relative flex justify-end my-24">

        <div class="gap-y-24 flex flex-col">
            <h1 class="leading-[.85] text-right text-8xl font-secondary">
                <span class="text-border-white text-black">GELANCEERDE</span><br/>
                <span class="text-border text-white">PROJECTEN</span>
            </h1>
            {% for item in collections.projects %}{% endfor %}


        </div>

    </div>
</section>

<section class="bg-blue py-24">
    <div class="gap-y-24 container flex flex-col">
        <div class="gap-x-24 grid grid-cols-2">
            <h2 class="leading-[.85] text-8xl font-secondary">
                <span class="text-white">600%</span><br/>
                <span class="text-blue text-border text-border-white">
                    KORTERE
                    <br>
                    LAADTIJD
                </span>
            </h2>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur repellendus, et repellat dolore alias eius iure consequatur sequi recusandae a possimus! Sed, fuga debitis?</p>
        </div>


    </div>
</section>

<section class="py-24 text-black bg-white">
    <div class="container">
        <div class=" flex flex-col w-[85%]">
            <!-- <h1 class="text-9xl font-secondary">
                <span>BUITENAARDS</span>
                <span>MENSELIJK</span>
            </h1>
            <div class="grid max-w-xl grid-cols-2 gap-8">
                <span class="font-secondary text-lg text-right">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</span>
                <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident accusamus, facilis repellendus natus perspiciatis soluta nam dolorem qui!</p>
            </div> -->

            <div>
                <h1 class="w-[75%]"></h1>
                <div class=" gap-x-8 grid w-2/3 grid-cols-2">
                    <div class="font-secondary text-2xl text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultricies adipiscing sagittis pellentesque dictum ultrices risus molestie egestas. Quis enim risus sit neque nec amet dis turpis urna.
                    </p>
                </div>
            </div>

            <div>
                <h1 class="w-full"></h1>
            </div>

            <div>
                <h1 class="w-[75%]"></h1>
            </div>

        </div>
    </div>
</section>